In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('train.csv')

In [5]:
df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [12]:
dfWithLocation = df.loc[~df['location'].isnull()]

In [25]:
dfWithLocation.location.value_counts().head(50)

USA                  104
New York              71
United States         50
London                45
Canada                29
Nigeria               28
UK                    27
Los Angeles, CA       26
India                 24
Mumbai                22
Washington, DC        21
Kenya                 20
Worldwide             19
Australia             18
Chicago, IL           18
California            17
Everywhere            15
New York, NY          15
California, USA       15
United Kingdom        14
San Francisco         14
Florida               14
Indonesia             13
Washington, D.C.      13
Los Angeles           13
Toronto               12
Ireland               12
NYC                   12
Chicago               11
Earth                 11
San Francisco, CA     11
Seattle               11
ss                    10
New York City         10
Sacramento, CA        10
Texas                 10
London, England       10
Atlanta, GA           10
London, UK            10
Denver, Colorado       9
US                     9
Manchester             9
San Diego, CA          9
Nashville, TN          9
Dallas, TX             9
World                  9
304                    9
South Africa           8
Houston, TX            8
Scotland               8
Name: location, dtype: int64